<div class="row">
<h1>Kill all Sudoku</h1>

<div ng-app="sudokuApp">
	<div ng-controller="sudokuCtrl" ng-init="clearBoard()">
	
		<div class="medium-6 columns">
	  	<img src="bender.jpg">
	  </div>

	  <div class="medium-6 columns">
			<h5>To solve your puzzle, either type it in the box like the example or directly onto the board.</h5>

	  	<form ng-submit="solveMe(unsolvedPuzzle)">
				<input type="text" ng-model="unsolvedPuzzle" ng-init="unsolvedPuzzle = '39.82.7..8.15...69.2.16.4.3..2.96.58935...6.2.6.752.3.7.3941...2...3759..19...347'">
			</form>

			<table>
				<tr ng-repeat="row in solved track by $index" ng-init= "rowIndex = $index" >
					<td ng-repeat ="cell in row track by $index">
						<form>
							<input ng-model="solved[rowIndex][$index].value" limit-to="1" type="number"/>
						</form>
					</td>
				</tr>
			</table>

			<button ng-click="solveMe(solved)">
				Kill it!
			</button>

			<button ng-click="clearBoard()">
				Clear
			</button>

			<button ng-click="defaultPuzzle()">
				default
			</button>
		</div>
	</div>
</div>
</div>

<style>
table tr input{
    text-align: center;
    width: 100%;
    height: 100%;
    background: #e6ffcc;
    border: none;
    width: 40px;
    height: 40px;
}

table tr td{
    border: 1px solid #000;
    cursor: pointer;
}

/*get's rid of annoying spinner for input="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>