<h1 id="sudoku-title">Kill all Sudoku</h1>

<div class="row"></div>

<div ng-app="sudokuApp">
	<div ng-controller="sudokuCtrl" ng-init="clearBoard()">
		<div class="col-lg-6">
		  <img src="bender.jpg" id="glorious-bender">
		</div>

		<div class="col-lg-6">
			<h3>To solve your puzzle, either type it in the box like the example or directly onto the board.</h3>

	  	<form ng-submit="solveMe(unsolvedPuzzle)">
				<input type="text" ng-model="unsolvedPuzzle" ng-init="unsolvedPuzzle = '39.82.7..8.15...69.2.16.4.3..2.96.58935...6.2.6.752.3.7.3941...2...3759..19...347'"  class="form-control">
			</form>

			<table class="sudoku-board">
				<tr ng-repeat="row in solved track by $index" ng-init= "rowIndex = $index" class="border-{{$index % 3 == 0}}">
					<td ng-repeat ="cell in row track by $index" class="border-{{$index % 3 == 0}}">
						<form>
							<input ng-model="solved[rowIndex][$index].value" limit-to="1" type="number"/>
						</form>
					</td>
				</tr>
			</table>

			<div class="text-center">
				<div class="btn-group">
					<button class="btn btn-default" ng-click="solveMe(solved)">
						Kill it!
					</button>

					<button class="btn btn-default" ng-click="clearBoard()">
						Clear
					</button>

					<button class="btn btn-default" ng-click="defaultPuzzle()">
						Default
					</button>
				</div>
			</div>
		</div> <!-- class="col-md-6" -->

	</div> <!-- ng-controller="sudokuCtrl" -->
</div> <!-- ng-app="sudokuApp" -->

<%= render "layouts/footer" %>