<h1>home</h1>

<h2>puzzles to try</h2>
1.58.2....9..764.52..4..819.19..73.6762.83.9.....61.5...76...3.43..2.5.16..3.89.. </br>
39.82.7..8.15...69.2.16.4.3..2.96.58935...6.2.6.752.3.7.3941...2...3759..19...347 </br>
.94...13..............76..2.8..1.....32.........2...6.....5.4.......8..7..63.4..8 </br>
............942.8.16.....29........89.6.....14..25......4.......2...8.9..5....7.. </br>
.....7....9...1.......45..6....2.....36...41.5.....8.9........4....18....815...32 </br>
.5247.....6............8.1.4.......97..95.....2..4..3....8...9......37.6....91... </br>
.9.........1..6....6..8..7.3......1.....39.......5...217.4...28.....3....86....57 </br>

<div ng-app="sudokuApp">
	<div ng-controller="sudokuCtrl">
		<form ng-submit="solveMe(unsolvedPuzzle)">
			 <input type="text" ng-model="unsolvedPuzzle">
		</form>
		{{ solved }}
	</div>
</div>