// Place all the styles related to the sudoku controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sudoku_board {
  margin: 20px auto;
  border: 3px solid #000;
  tr td {
    border: 1px solid #000;
  }
  tr input{
    text-align: center;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
  }
}

#glorious-bender {
  max-width: 540px;
  width: 100%;
  border: 3px solid #666;
  border-radius: 25px;
}

/*get's rid of annoying spinner for input="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}